span#__button0-img {
    display: none;
}

div#__xmlview0--ObjectPageLayout-OPHeaderContent {
    background-color: lightsteelblue;
}

div#__xmlview0--headerForTest-identifierLine {
    background-color: lightsteelblue;
}

div#__bar0 {
    background-color: lightsteelblue;
}